#몇 가지 들어가지 말아야 할 내용이 있는 것 같아서 수정 해 보겠음.
# Git ignore for Unity projects
# Created by https://www.toptal.com/developers/gitignore/api/unity

# Unity
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
#*.meta 삭제
*.log
*.txt
*.tmp

# Visual Studio
.vs/
bin/
obj/

# Rider
.idea/

# Library and Temp
Library/
Temp/
obj/
Build/
build/
UserSettings/
MemoryCaptures/
AssetStoreTools/
#Packages/ 삭제
LocalPackages/

# Optional: Uncomment if you don't want to track the Generated folder created by DOTS/ECS
# Generated/